<h1>Value</h1>
<a href="/equation" style="padding-bottom: 70px;">Go to equation view</a>

<div style="height: 120px;">
  <%= render "header_row" %>
  <div style="height: 60px;; display: inline-flex; border-bottom: 3px solid black; border-left: 3px solid black; border-right: 3px solid black;">
    <div style="height: 60px; width: 90px; border-right: 3px solid black; text-align: center; align-items: center;">
      <p>
        <%#= @cell1.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell2.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell3.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell4.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell5.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell6.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell7.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>
        <%= @cell8.current_value %>
      </p>
    </div>
    <div style="height: 60px; width: 90px; text-align: center">
      <p>
        <%= @cell9.current_value %>
      </p>
    </div>
  </div>

</div>
